{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/instructor.css' %}">
    <title>Become an Instructor</title>
</head>
<body>
    <section id='1' class="become-instructor-sections">
        <div class="">
            <h3>WHY TEACH WITH US?</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#2" class="scrolldown-btn">▼</a>
    </section>
    <section id='2' class="become-instructor-sections">
        <div class="">
            <h3>Register on wonderHUB</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#3" class="scrolldown-btn">▼</a>

    </section>
    <section id='3' class="become-instructor-sections">
        <div class="">
            <h3>Activate account</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#4" class="scrolldown-btn">▼</a>

    </section>
    <section id='4' class="become-instructor-sections">
        <div class="">
            <h3>Create and Uplaod your Courses</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#5" class="scrolldown-btn">▼</a>

    </section>
    <section id='5' class="become-instructor-sections">
        <div class="">
            <h3>Upload Lessons</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#6" class="scrolldown-btn">▼</a>

    </section>
    <section id='6' class="become-instructor-sections">
        <div class="">
            <h3>Add tests and excercises</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#7" class="scrolldown-btn">▼</a>

    </section>
    <section id='7' class="become-instructor-sections">
        <div class="">
            <h3>Vetting and Approval</h3>
            <img src="{% static 'img/res/mathematicsbro.svg' %}" alt="become an instructor">
            <p>Become an instructor in a few and very easy steps</p>
            <p>Follow the steps bellow to become and instructor.</p>
        </div>
        <a href="#1" class="scrolldown-btn">▼</a>

    </section>

</body>
</html>