{% extends 'wonderhub/base.html' %}
{% load static %}

{% block content %}
<script>
    document.title ="Create Lessons"
</script>
<h2>Create lessons for {{course.title}}</h2>
<!--    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="title" id="title" placeholder="title" required="true">
        <label for="title">title</label><br>
        <label for="description">description</label>
        <input type="text" name="description" id="description"required="true"><br>
        <label for="image">upload image</label>
        <input type="file" name="image" id="image"><br>
        <button type="submit">create</button>
    </form>
-->
<div class="cat-body-container">
    <form action="" method="post" enctype="multipart/form-data" class='form'>
        {% csrf_token %}
        {{form.as_div}}
        <button type="submit">Create</button>
    </form>

</div>

<div class="lesson-list-container">
    <h2>{{course.title|upper}} LESSONS</h2>
    {% for lesson in lessons %}
    <div class="lesson-list">
        <a href="{% url 'lesson-detail' lesson.lesson_id %}">
            <img src="{{lesson.image.url}}" width='100px' height="100px" alt="">
            <span> {{lesson.title}}</span>
        </a>
        <div class="course-btns-wrapper">
            <a class="primary" href="{% url 'update-lesson' lesson.lesson_id %}">update</a>
            <a class="danger" href="">delete</a>
        </div>
    </div>
{% endfor %}
</div>
{% include 'wonderhub/footer.html' %}
{% endblock content %}
