{% load static %}
<footer>
    <div class="footer-brand">
        <img src="{% static 'img/logo/wonderhub.png' %}" alt="">
        <p class="brand-text">Become an Instructor... Teach millions of students on WonderHUB. Teach what you love and do best.</p>
    </div>
    <div class="short-links">
        <a href="">Courses</a>
        <a href="">Instructors</a>
        <a href="">Become an Instructor</a>
        <a href="">Reach out</a>
    </div>
    <div class="contacts">
        <li>Twitter</li>
        <li>FaceBook</li>
        <li>Instagram</li>
        <li>Whatsapp</li>
    </div>
    <div class="copyright">WonderHUB © 2024</div>
</footer>
