{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %} ">
    <title>WonderHUB - Login</title>
</head>
<body>
    
    {% if form.non_field_errors %}
        <div class="toast toast-danger">
            {% comment %} <img class="toast-icon" src="{% static 'img/logo/wonderhub.png' %}" width="50" height="50">             {% endcomment %}
            <svg class="w-5 h-5" width="20px" height="20px" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
            </svg>
            <div class="toast-msg">{{form.non_field_errors}}</div>
        </div>
    {% endif %}
        
    <div class="container">
        <div class="logo">
            <a href="{% url 'wonderhub' %}">
                <img src=" {% static 'img/logo/wonderhub.png' %} " alt="WonderHUB">
            </a>
        </div>
        <legend>LogIn</legend>
        <form action="" method="post">
            {% csrf_token %}
            <input type="email" name="login" id="id_login" autofocus autocomplete="email" autocapitalize='none' required placeholder="Email Address">
            <input type="password" name="password" id="id_password" required placeholder="Password">
            <button type="submit" class="login-btn">L O G I N</button>
        </form>
        <div class="divider">
            <div class="line"></div>
            <div class="">Or use third-party</div>
            <div class="line"></div>
        </div>
        <div class="register-btns-container">
            {% comment %} <a href="{% url 'student-signup' %}" class="student-btn">Register</a> {% endcomment %}
            <a href="{% provider_login_url 'google' %}" class="student-btn">Login With Google</a>
            <a href="{% provider_login_url 'apple' %}" class="student-btn">Login With Apple</a>
            {% comment %} <a href="{% url 'instructor-signup' %}" class="instructor-btn">Become a tutor</a> {% endcomment %}
        </div>
    </div>
</body>
</html>