{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="WonderHub is a home technology and development where you can build all your apps and websites.">
    <meta property="og:title" content="Apps and websites development | WonderHub">
    <meta property="og:description" content="WonderHub is a home technology and development where you can build all your apps and websites.">
    <meta property="og:image" content="{% static 'img/logo/icon.png' %}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="shortcut icon" href="{% static 'img/logo/icon.png' %}">
    <meta name="theme-color" content="#000000">


    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/web-dev.css' %} "
    />
    <link
    rel="website icon"
    href="{% static 'img/logo/icon.png' %}"
    type="png"
  />

    <script src="{% static 'js/web-dev.js' %}"></script>

    <title>WonderHub | Apps and Websites Development</title>
  </head>

  <body>
    <section class="curved-navbar">
      {% comment %} <div class="curved-navbar-background"></div> {% endcomment %}
      <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="/" class="menu-logo">
          <img src=" {% static 'img/logo/wonderhub.png' %} " alt="" />
        </a>

        <!-- menu items -->
        <div class="menu">
          <ul>
            <li>
              <a href="#services" class="services-nav"> Services </a>
            </li>
            <li>
              <a href="#pricing" class="pricing-nav"> Pricing </a>
            </li>
            <li>
              <a href=" {% url 'blog-home' %} " class="blog-nav"> Blog </a>
            </li>
            <li>
              <a href=" {% url 'store' %} " class="shop-nav"> Store </a>
            </li>
            <li>
              <a href="{% host_url 'wonderhub' host 'academy' %}" class="school-nav"> Academy </a>
            </li>
          </ul>
          <ul>
            
            {% if user.is_authenticated %}

            <li>
              <a href=" {% url 'logout' %} "> Logout </a>
            </li>
            <li>
              <a href="{% url 'login' %}"> {{user.username}} </a>
            </li>
              
            {% else %}

            <li>
              <a href=" {% url 'register' %} "> SignUp </a>
            </li>
            <li>
              <a href="{% url 'login' %}"> LogIn </a>
            </li>
              
            {% endif %}
              
          </ul>
        </div>
      </nav>
      <div class="hero-container">
        <div class="hero1 hero">
          <div id="containerAnimation" class="container-bottom-to-up">
            <p class="hero-text hero-text-header top-to-bottom">WELCOME TO WONDERHUB!</p>
            <p class="hero-text bottom-to-up">
              We build websites and apps that build your business.
            </p>
            <div class="btn-container">
              {% comment %}
              <div class="shop-btn">View Templates</div>
              {% endcomment %}
              <div class="contact-btn">
                <div class="ct-btn call-btn">Call</div>
                <div class="ct-btn chat-btn">chat</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-img">
          <!--<img src="{% static 'img/res/webdevicespana.svg' %}" alt="" class="right-to-left">-->
          <img src="{% static 'img/res/Hand_coding_bro.svg' %}" alt="" class="right-to-left">
        </div>
      </div>
    </section>
    <div class="section-container">
      <div class="section services-section" id="services">
        <div class="section-header">
          <h2>Our Services</h2>
          <img src="{% static 'img/res/Customer_relationship_management_bro.svg' %}" alt="">
          <p>We offer a range of web development to software services.</p>
        </div>
        <div class="section-content">
          <div class="service-card">
            <img src="{% static 'img/res/webdevicespana.svg' %}" alt="" />
            <div class="service-card-content">
              <div class="service-card-content-title">Web Development</div>
              <p>
                We build responsive web apps that compatible on any devices.
              </p>
              <input type="checkbox" name="toggle-service" id="toggle-service">
              <label for="toggle-service">

                <a>See details</a>
              </label>
              <div class="pricing-toggle-container">
                <label for="toggle-service" style="margin-top:100px; margin-bottom:20px; color:white; text-decoration:underline;">⇽ ← Go Back</label>
                <div class="pricing-card-container">
                  <div class="pricing-card">
                    <div class="pricing-card-header">Personal / Portfolio Website</div>
                    <ul>
                      <li>Domain name</li>
                      <li>1 year web hosting</li>
                      <li>1 year free technical support</li>
                      <li>SEO</li>
                      <li>site security</li>

                    </ul>
                    <div class="price">₦ 99,999.99</div>
                    <div class="price-btn-container">
                      <div class="price-call-btn">call</div>
                      <div class='price-chat-btn'>chat</div>
                    </div>
                  </div>
                  <div class="pricing-card">
                    <div class="pricing-card-header">Bussiness / Company Website</div>
                    <ul>
                      <li>Domain name</li>
                      <li>1 year web hosting</li>
                      <li>Free logo Design</li>
                      <li>1 year free technical support</li>
                      <li>SEO | site security</li>
                    </ul>
                    <div class="price">₦ 199,999.99</div>
                    <div class="price-btn-container">
                      <div class="price-call-btn">call</div>
                      <div class="price-chat-btn">chat</div>
                    </div>
                  </div>
                  <div class="pricing-card">
                    <div class="pricing-card-header">E-commerce / Online Store</div>
                    <ul>
                      <li>Domain name</li>
                      <li>1 year web hosting</li>
                      <li>Free logo Design</li>
                      <li>1 year free technical support</li>
                      <li>SEO | site security</li>
                    </ul>
                    <div class="price">₦ 299,999.99</div>
                    <div class="price-btn-container">
                      <div class="price-call-btn">call</div>
                      <div class="price-chat-btn">chat</div>
                    </div>
                  </div>
                  <div class="pricing-card">
                    <div class="pricing-card-header">CMS, Blogs / Media Website</div>
                    <ul>
                      <li>Domain name</li>
                      <li>1 year web hosting</li>
                      <li>1 year free maintainace</li>
                      <li>SEO</li>
                      <li>site security</li>
                    </ul>
                    <div class="price">₦ 199,999.99</div>
                    <div class="price-btn-container">
                      <div class="price-call-btn">call</div>
                      <div class="price-chat-btn">chat</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="service-card">
            <img src="{% static 'img/res/Progresive_app_rafiki.svg' %}" alt="" />
            <div class="service-card-content">
              <div class="service-card-content-title">Moblie App development</div>
              <p>
                We build cross-platform mobile apps for both Android and IOS.
              </p>
              <a href="#pricing">See details</a>
            </div>
          </div>
          <div class="service-card">
            <img src="{% static 'img/res/UI_UX_differences_bro.svg' %}" alt="" />
            <div class="service-card-content">
              <div class="service-card-content-title">UI and UX</div>
              <p>
                We design and build your user interface and feautures for you apps or websites.
              </p>
              <a href="#pricing">See details</a>
            </div>
          </div>
          <div class="service-card">
            <img src="{% static 'img/res/Static_website_amico.svg' %}" alt="" />
            <div class="service-card-content">
              <div class="service-card-content-title">Web Hosting / Domain name services</div>
              <p>
                Deploy,Host your apps and websites with us, Buy and manage your domains with us.
              </p>
              <a href="#pricing">See details</a>
            </div>
          </div>
        </div>
      </div>
      {% comment %} <div class="section" id="pricing">
        <div class="section-header">Pricing</div>

      </div> {% endcomment %}
      <div class="section" id="partners">
        <h2>Our Partners</h2>
        <p>
          Do you need a website, we create websites. Benefits of a website are legitmacy, improves marketing
        </p>

        <div class="partner-container">
          <img src="{% static 'img/slack.svg' %}" alt="">
          <img src="{% static 'img/codepen.svg' %}" alt="">
          <img src="{% static 'img/Github.svg' %}" alt="">
          <img src="{% static 'img/slack_dark.svg' %}" alt="">
        </div>
      </div>
      <div class="section" id="projects">
        <h2>Our Clients</h2>
        <div class="clients-slide-container">
          <div class="clients-slide"><img src=" {% static 'img/logo/alaba.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/reumssky.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/reumssky_global_freight.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/ama_blog.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/darlenenoir.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/lmnt2.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/trustcards.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/soosoil.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/moa.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/nomomics.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/rechargeit.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/rosyiyke.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/lifestyle.png' %} " alt="" class="clients"></div>
        </div>
      </div>
    </div>
  </body>
</html>
