{% load static %}
{% load hosts %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/web-dev.css' %} "
    />
    <script src="{% static 'js/web-dev.js' %}"></script>

    <title>WonderHub Blog</title>
  </head>

  <body>
    <section class="curved-navbar">
      {% comment %} <div class="curved-navbar-background"></div> {% endcomment %}
      <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>

        <!-- logo -->
        <a href="/" class="menu-logo">
          <img src=" {% static 'img/logo/wonderhub.png' %} " alt="" />
        </a>

        <!-- menu items -->
        <div class="menu">
          <ul>
            <li>
              <a href="#services" class="services-nav"> Services </a>
            </li>
            <li>
              <a href="#pricing" class="pricing-nav"> Pricing </a>
            </li>
            <li>
              <a href=" {% url 'blog-home' %} " class="blog-nav"> Blog </a>
            </li>
            <li>
              <a href=" {% url 'store' %} " class="shop-nav"> Store </a>
            </li>
            <li>
              <a href="{% host_url 'wonderhub' host 'academy' %}" class="school-nav"> Academy </a>
            </li>
          </ul>
          <ul>
            
            {% if user.is_authenticated %}

            <li>
              <a href=" {% url 'logout' %} "> Logout </a>
            </li>
            <li>
              <a href="{% url 'login' %}"> {{user.username}} </a>
            </li>
              
            {% else %}

            <li>
              <a href=" {% url 'register' %} "> SignUp </a>
            </li>
            <li>
              <a href="{% url 'login' %}"> LogIn </a>
            </li>
              
            {% endif %}
              
          </ul>
        </div>
      </nav>
      <div class="hero-container">
        <div class="hero1 hero">
          <div id="containerAnimation" class="container-bottom-to-up">
            <p class="hero-text hero-text-header top-to-bottom">WELCOME TO WONDERHUB!</p>
            <p class="hero-text bottom-to-up">
              We build websites and apps that build your business.
            </p>
            <div class="btn-container">
              {% comment %}
              <div class="shop-btn">View Templates</div>
              {% endcomment %}
              <div class="contact-btn">
                <div class="ct-btn call-btn">Call</div>
                <div class="ct-btn chat-btn">chat</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-img">
          <!--<img src="{% static 'img/res/webdevicespana.svg' %}" alt="" class="right-to-left">-->
          <img src="{% static 'img/res/Hand_coding_bro.svg' %}" alt="" class="right-to-left">
        </div>
      </div>
    </section>
    <div class="section-container">
      <div class="section services-section" id="services">
        <div class="section-header">
          <h2>Our Services</h2>
          <img src="{% static 'img/res/Customer_relationship_management_bro.svg' %}" alt="">
          <p>We offer a range of web development to software services.</p>
        </div>
        <div class="section-content">
          <div class="service-card">
            <img src="{% static 'img/res/webdevicespana.svg' %}" alt="" />
            <div class="service-card-content">
              <div>Web Development</div>
              <p>
                Do you need a website, we create websites. Benefits of a website
                are legitmacy, improves marketing
              </p>
              <a href="#pricing">view pricing</a>
            </div>
          </div>
          <div class="service-card">
            <img src="{% static 'img/res/Progresive_app_rafiki.svg' %}" alt="" />
            <div class="service-card-content">
              <div>Moblie App development</div>
              <p>
                Do you need a website, we create websites. Benefits of a website
                are legitmacy, improves marketing
              </p>
              <a href="#pricing">view pricing</a>
            </div>
          </div>
          <div class="service-card">
            <img src="{% static 'img/res/UI_UX_differences_bro.svg' %}" alt="" />
            <div class="service-card-content">
              <div>UI and UX</div>
              <p>
                Do you need a website, we create websites. Benefits of a website
                are legitmacy, improves marketing
              </p>
              <a href="#pricing">view pricing</a>
            </div>
          </div>
          <div class="service-card">
            <img src="{% static 'img/res/Static_website_amico.svg' %}" alt="" />
            <div class="service-card-content">
              <div>Web Hosting / Domain name services</div>
              <p>
                Do you need a website, we create websites. Benefits of a website
                are legitmacy, improves marketing
              </p>
              <a href="#pricing">view pricing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="pricing">
        <div class="section-header">Pricing</div>
        <div class="pricing-card-container">
          <div class="pricing-card">
            <div class="pricing-card-header">Personal / Portfolio Website</div>
            <ul>
              <li>6 pages max</li>
              <li>free logo Design</li>
              <li>1 year free maintainace</li>
              <li>SEO</li>
              <li>fast page load</li>
              <li>site security</li>
              <li>free user-interface and graphic design</li>
            </ul>
            <div class="price">₦ 99,000.00</div>
            <div class="price-btn-container">
              <div class="price-call-btn">call</div>
              <div class='price-chat-btn'>chat</div>
              <div class="price-order-btn">order</div>
            </div>
          </div>
          <div class="pricing-card">
            <div class="pricing-card-header">Bussiness / Company Website</div>
            <ul>
              <li>6 pages max</li>
              <li>free logo Design</li>
              <li>1 year free maintainace</li>
              <li>SEO</li>
              <li>fast page load</li>
              <li>site security</li>
              <li>free user-interface and graphic design</li>
            </ul>
            <div class="price">₦ 99,000.00</div>
            <div class="price-btn-container">
              <div class="price-call-btn">call</div>
              <div class="price-chat-btn">chat</div>
              <div class="price-order-btn">order</div>
            </div>
          </div>
          <div class="pricing-card">
            <div class="pricing-card-header">E-commerce / Online Store</div>
            <ul>
              <li>6 pages max</li>
              <li>free logo Design</li>
              <li>1 year free maintainace</li>
              <li>SEO</li>
              <li>fast page load</li>
              <li>site security</li>
              <li>free user-interface and graphic design</li>
            </ul>
            <div class="price">₦ 99,000.00</div>
            <div class="price-btn-container">
              <div class="price-call-btn">call</div>
              <div class="price-chat-btn">chat</div>
              <div class="price-order-btn">order</div>
            </div>
          </div>
          <div class="pricing-card">
            <div class="pricing-card-header">CMS, Blogs / Media Website</div>
            <ul>
              <li>6 pages max</li>
              <li>free logo Design</li>
              <li>1 year free maintainace</li>
              <li>SEO</li>
              <li>fast page load</li>
              <li>site security</li>
              <li>free user-interface and graphic design</li>
            </ul>
            <div class="price">₦ 99,000.00</div>
            <div class="price-btn-container">
              <div class="price-call-btn">call</div>
              <div class="price-chat-btn">chat</div>
              <div class="price-order-btn">order</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" id="partners">
        <h2>Our Partners</h2>
        <p>
          Do you need a website, we create websites. Benefits of a website are legitmacy, improves marketing
        </p>

        <div class="partner-container">
          <img src="{% static 'img/slack.svg' %}" alt="">
          <img src="{% static 'img/codepen.svg' %}" alt="">
          <img src="{% static 'img/github.svg' %}" alt="">
          <img src="{% static 'img/slack_dark.svg' %}" alt="">
        </div>
      </div>
      <div class="section" id="projects">
        <h2>Our Clients</h2>
        <div class="clients-slide-container">
          <div class="clients-slide"><img src=" {% static 'img/logo/alaba.PNG' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/reumssky.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/reumssky_global_freight.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/ama_blog.PNG' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/darlenenoir.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/lmnt2.PNG' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/trustcards.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/soosoil.PNG' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/moa.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/nomomics.PNG' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/rechargeit.png' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/rosyiyke.PNG' %} " alt="" class="clients"></div>
          <div class="clients-slide"><img src=" {% static 'img/logo/lifestyle.png' %} " alt="" class="clients"></div>
        </div>
      </div>
    </div>
  </body>
</html>
