body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    background-color: white;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

:root {
    --midnight-color: #2b333d;
    --midnight-color-2: #03001c;
    --primary-midnight: #10001c;
    --primary-color: #4f2460;
    --pale-purple: #cbc3e3;
    --lavender: #f5e7fe;
    --secondary-color: #ffb5d7;
    --secondary: #800080;
    --second-white: #e4e5e4;
    --dark-primary-color: #1b0c20;
}

.services-nav::before {
    content: url(/static/img/miscellaneous_services.svg);
}

.blog-nav::before {
    content: url(/static/img/line_style.svg);
}

.pricing-nav::before {
    content: url(/static/img/payment.svg);
}

.shop-nav::before {
    content: url(/static/img/shopping.svg);
}

.school-nav::before {
    content: url(/static/img/school.svg);
}


/* @keyframes shop {
    to {
        box-shadow: 10px 0 10px 50px rgba(255, 255, 255, 0);
    }
} */

.menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.05);
    color: #000000;
    padding: 10px 30px;
    z-index: 99;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
}

.menu-container a {
    text-decoration: none;
    color: #0c0b0b;
    color: white;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: purple;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/* Burger menu */

.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    background: var(--secondary);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #232323;
    background: var(--secondary);
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 22px;
    /* background-color: #ffb5d7; */
    background-color: var(--secondary);
    color: #000000;
    color: white;
    border-radius: 8px;
}


/* .menu li .shop-nav {
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 22px;
    background-color: #ffb5d7;
    background-color: var(--secondary);
    color: #000000;
    color: white;
    border-radius: 8px;
    animation: shop 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 #ffb5d7;
} */

.menu li:hover {
    background-color: #cdcdcd;
}


/* mobile styles */

@media only screen and (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }
    .menu-logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-logo img {
        max-height: 30px;
    }
    .menu {
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
        position: fixed;
        box-sizing: border-box;
        width: 300px;
        right: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: rgb(240, 240, 240);
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
}


/* desktop styles */

@media only screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
    }
    .menu-container a {
        color: #000000;
        color: white;
    }
    .menu-container input {
        display: none;
    }
    /* Burger menu */
    .menu-container span {
        display: none;
    }
    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu ul {
        display: flex;
        padding: 0;
    }
    .menu li {
        padding: 10px;
        color: #000000;
        color: white;
    }
}


/*nav-bar*/

.curved-navbar {
    position: relative;
    color: aliceblue;
    /* height: 80vh; */
    width: 100%;
    overflow-x: hidden;
}

.curved-navbar-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(http://127.0.0.1:8000/static/img/hero_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    animation: slideshow 5s linear 5s infinite;
    /* border-bottom-left-radius: 50% 41%;
    border-bottom-right-radius: 50% 41%; */
}

.hero-text {
    filter: brightness(100%);
}

@keyframes slideshow {
    0%,
    100% {
        background: url(http://127.0.0.1:8000/static/img/bg.jpg) no-repeat;
        /* background-size: cover;
        background-position: center; */
    }
    20% {
        background: url(http://127.0.0.1:8000/static/img/wonderhubblue.png) no-repeat;
        /* background-size: cover;
        background-position: center; */
    }
    40% {
        background: url(http://127.0.0.1:8000/static/img/bg4.png) no-repeat;
        /* background-size: cover;
        background-position: center; */
    }
    60% {
        background: url(http://127.0.0.1:8000/static/img/bg3.jpg) no-repeat;
        /* background-size: cover;
        background-position: center; */
    }
    80% {
        background: url(http://127.0.0.1:8000/static/img/bg2.jpg) no-repeat;
        /* background-size: cover;
        background-position: center; */
    }
    /*
    100% {
        background: url(http://127.0.0.1:8000/static/img/bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }*/
}

@media screen and (max-width: 800px) {
    .curved-navbar {
        position: relative;
        color: white;
        /* height: 60vh; */
        width: 100%;
    }
    .curved-navbar-background {
        background: url(http://127.0.0.1:8000/static/img/wonderhubblue.png) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        /* border-bottom-left-radius: 40% 31%;
        border-bottom-right-radius: 40% 31%; */
    }
}

.navbar-block {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    justify-content: center;
}

.nav-text {
    margin-left: 5px;
}

.hero-container {
    width: 80%;
    /* height: 150px; */
    background: transparent;
    /* position: absolute; */
    margin: auto;
    margin-top: 100px;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--primary-midnight);
}

.hero1 {
    margin-top: 20px;
    width: 50%;
    height: 100%;
    padding: 10px;
    /* padding-left: 50px; */
    background: transparent;
}

.hero-img {
    width: 50%;
    /* padding-right: 50px; */
}

.hero-img img {
    width: 100%;
}

.hero-text {
    /* width: 50%; */
    /* margin: 0 0; */
    font-weight: bold;
    text-align: justify;
    /* text-transform: uppercase; */
}

.hero-text-header {
    font-size: larger;
    font-weight: 900;
}

.btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 500px) {
    .hero-container {
        width: 90%;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .hero1 {
        width: 100%;
    }
    .hero-img {
        width: 100%;
    }
    .hero-text {
        text-align: justify;
    }
    .hero-text-header {
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 1;
        font-weight: 900;
        width: 100%;
        font-size: larger;
    }
    .btn-container {
        justify-content: center;
    }
}


/*.shop-btn {
    background: linear-gradient(to bottom, #868686 5%, #f6f8f5 100%);
    background-color: #44c767;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 0px #50042e;
    width: 100px;
    margin-right: 5px;
}

.shop-btn:hover {
    background: linear-gradient(to bottom, #ffffff 5%, #666867 100%);
    background-color: #5cbf2a;
}

.shop-btn:active {
    position: relative;
    top: 1px;
}
*/

.contact-btn {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    /* padding: 10px 20px; */
    gap: 20px;
}

.ct-btn {
    color: white;
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    /* border-radius: 10px; */
    padding: 10px 20px;
    transition: 0.5s all ease-in-out;
    display: flex;
    width: 100%;
    border-radius: 3px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.call-btn:hover {
    cursor: pointer;
    background: var(--primary-midnight);
    /* color: var(--primary-midnight); */
    animation: none;
    /*animation-play-state: paused;*/
}

.call-btn img {
    height: 20px;
    width: 20px;
}

.chat-btn:hover {
    cursor: pointer;
    background: lightgreen;
    color: darkgreen;
}


/* .call-btn::before {
    content: url(/static/img/phone-call.svg);
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    right: 10px;
    margin-right: 5px;
} */

.chat-btn::before {
    content: url(/static/img/whatsapp.svg);
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    right: 10px;
    margin-right: 5px;
}

.chat-btn {
    background-color: green;
    color: white;
}

.call-btn {
    /* animation: wiggle 4s 2s infinite; */
    background-color: var(--secondary);
    color: white;
}

@keyframes wiggle {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.7);
    }
    15% {
        transform: scale(1);
    }
    20% {
        transform: scale(1) rotate(-8deg);
    }
    25% {
        transform: scale(1) rotate(8deg);
    }
    30% {
        transform: scale(1) rotate(-8deg);
    }
    35% {
        transform: scale(1) rotate(8deg);
    }
    40% {
        transform: scale(1) rotate(0);
    }
}

@media screen and (max-width: 700px) {
    .contact-btn {
        width: 250px;
    }
    .ct-btn {
        padding: 8px 18px;
        font-size: x-small;
    }
    /* .call-btn::before {
        content: url(/static/img/phone-call.svg);
        display: inline-block;
        height: 15px;
        width: 15px;
        top: 5px;
        right: 5px;
        margin-right: 5px;
    } */
    .chat-btn::before {
        content: url(/static/img/whatsapp.svg);
        display: inline-block;
        height: 15px;
        width: 15px;
        top: 5px;
        right: 5px;
        margin-right: 5px;
    }
}


/*.call-btn {
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
}

.call-btn:hover {
    background-color: lightblue;
    color: #000000;
}

.chat-btn {
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
}

.chat-btn:hover {
    background-color: lightgreen;
    color: #000000;
}*/

.box {
    height: 500px;
    margin-top: 30px;
    background-color: #fff;
}

.shop-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(90deg, #0066cc 0%, #d62828 100%);
    padding: 30px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 22px 50px;
    transition: 327ms;
    transform: translateY(0);
}

.shop-btn:hover {
    transition: 327ms;
    padding: 30px 40px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #d62828 0%, #0066cc 100%);
    color: #ffffff;
    border: none;
}


/* animate text */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container-bottom-to-up {
    overflow: hidden;
}

.bottom-to-up {
    animation: 1s bottom-to-up forwards;
    /* text-align: left; */
}

.top-to-bottom {
    animation: 1s top-to-bottom forwards;
}

@keyframes bottom-to-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes top-to-bottom {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.right-to-left {
    transition: 2s;
    animation: 1s right-to-left forwards;
}

@keyframes right-to-left {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* glitch text */

.glitch {
    font-size: 50px;
    color: white;
    animation: glitch 629ms infinite;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5rem;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.glitch2Bedore {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    letter-spacing: 0.5rem;
    color: white;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

.containerGlitch {
    margin-top: 40px;
    width: 100%;
    max-width: 1175px;
    height: auto;
}

.section-container {
    justify-content: center;
}

.services-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.section {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 10px;
}

.section-header {
    /* text-transform: uppercase; */
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding: 10px;
    /* background-color: purple; */
    color: white;
    color: var(--primary-midnight);
    margin-bottom: 50px;
    border-radius: 8px;
    width: 50%;
    max-width: -webkit-fill-available;
}

.section-content {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.service-card {
    /* position: relative; */
    text-align: center;
    /* margin-top: 5px; */
    margin-bottom: 5px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--pale-purple);
    padding: 5px;
    align-items: center;
}

.service-card:hover {
    box-shadow: 0 0 20px var(--pale-purple);
}

.service-card p {
    margin-block-end: 5px;
    margin-block-start: 10px;
}

.service-card img {
    height: 100px;
    width: 40%;
    /* filter: brightness(30%);
    border-radius: 5px; */
}


/* .service-card img:hover {
    filter: brightness(30%) blur(2px);
} */

.service-card-content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: var(--primary-midnight);
}

@media screen and (max-width: 429px) {
    .section-header {
        width: 100%;
    }
    .section-content {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .service-card-content h2 {
        font-size: medium;
    }
    .service-card-content p {
        font-size: x-small;
    }
    .service-card-content a {
        font-size: x-small;
    }
}

.service-card-content-title {
    font-weight: 600;
}

.service-card-content a {
    padding: 5px;
    background-color: rgb(234 210 239);
    color: var(--secondary);
    text-decoration: none;
    transition: all ease-in-out;
    border-radius: 5px;
}

.service-card-content input {
    display: none;
}

.pricing-toggle-container {
    display: none;
    width: 0;
    height: 0;
    transition: display 10s ease, width 10s ease, height 10s ease;
}

.service-card-content input:checked~.pricing-toggle-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: #00000077;
}

.pricing-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
    /* margin-top: 100px; */
}

.pricing-card {
    width: 300px;
    background-color: white;
    height: fit-content;
}

.pricing-card-header {
    text-align: center;
    background-color: silver;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.pricing-card ul {
    list-style: url(/static/img/check_circle.svg);
    /* list-style-position: inside; */
    text-align: start;
}

.price {
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: monospace;
}

.price-btn-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.price-btn-container div {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.price-call-btn {
    background-color: darkblue;
    color: white;
    width: 100%;
}

.price-chat-btn {
    background-color: darkgreen;
    color: white;
    width: 100%;
}

.price-order-btn {
    background-color: orange;
    color: black;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .pricing-card {
        width: 180px;
    }
}

#projects {
    text-align: center;
}

.clients-slide-container {
    display: flex;
    gap: 40px;
    width: 100%;
    overflow: hidden;
}

.clients-slide {
    animation: infinite-scroll 20s linear infinite;
}

.clients {
    width: 150px;
    aspect-ratio: 4/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    filter: brightness(0.6);
}

@keyframes infinite-scroll {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(calc(-150px * 12));
    }
}

#partners {
    text-align: center;
}

#partners .partner-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.partner-container img {
    height: 70px;
    width: 70px;
    opacity: 0.7;
}