html {
  scroll-behavior: smooth;
}

:root {
  --midnight-color: #2b333d;
  --midnight-color-2: #03001c;
  --primary-midnight: #10001c;
  --primary-color: #4f2460;
  --pale-purple: #cbc3e3;
  --pale-purple-light: #cbc3e34a;
  --lavender: #f5e7fe;
  --secondary-color: #f5dee1;
  --second-white: #e4e5e4;
  --dark-primary-color: #1b0c20;
}

::-webkit-scrollbar {
  background-color: var(--pale-purple);
  border-radius: 100px;
  margin-block: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--midnight-color);
  border-radius: 100px;
  width: 2px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  height: 2px;
  background-color: var(--midnight-color);
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track {
  margin-block: 40px;
}

.success {
  background-color: palegreen;
  color: darkgreen;
}

.error {
  background-color: lightcoral;
  color: darkred;
}

.info {
  background-color: skyblue;
  color: darkblue;
}

.primary {
  background: green;
}

.secondary {
  background-color: blue;
}

.warning {
  background-color: orange;
}

.danger {
  background-color: red;
}

.pending {
  color: orange;
  color: darkorange;
}

.failed {
  color: red;
}

.light-text {
  color: white;
}

.dark-text {
  color: black;
}

.message-bubble-container {
  width: 100%;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 1;
}

.message-bubble {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  opacity: 0.5;
  margin-top: 5px;
}

.message-bubble::marker {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: monospace;
  /* background-color: #f5e7fe; */
  background-color: white;
  scrollbar-width: none;
  scrollbar-color: black;
}

.blue-button {
  background-color: darkblue;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
}

button,
summary {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.blank-page {
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: var(--primary-midnight);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.blank-page .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 4px solid var(--secondary-color);
  border-left: 4px solid var(--secondary-color);
  border-right: 4px solid transparent;
  animation: spin 0.6s infinite linear;
  margin: auto;
}

.blank-page .loader-container img {
  width: 80px;
  position: fixed;
  margin: auto;
  padding: 15px;
  opacity: 0.2;
}

.loader-container {
}

.mute {
  color: gray;
}

.services-nav::before {
  content: url(http://127.0.0.1:8000/static/img/new-construction.svg);
}

.blog-nav::before {
  content: url(http://127.0.0.1:8000/static/img/line_style.svg);
}

.pricing-nav::before {
  content: url(http://127.0.0.1:8000/static/img/payment.svg);
}

.shop-nav::before {
  content: url(http://127.0.0.1:8000/static/img/store.svg);
}

@keyframes shop {
  to {
    box-shadow: 10px 0 10px 50px rgba(255, 255, 255, 0);
  }
}

.logo-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #4f2f60;
  color: #000000;
  backdrop-filter: blur(5px);
  padding: 20px;
  z-index: 1;
  box-sizing: border-box;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid var(--pale-purple);
  color: #000000;
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  z-index: 1;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
}

.menu-logo img {
  height: 50px;
  width: 150px;
  z-index: 1;
  object-fit: contain;
}

.search-box-wrapper form {
  display: flex;
  align-items: center;
  border: 1px solid var(--pale-purple);
  border-radius: 5px;
  padding: 5px 10px;
}

.search-box-wrapper input {
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 200px;
  /* background-color: var(--pale-purple); */
  color: var(--primary-color);
  outline: none;
}

.search-box-wrapper button {
  background-color: transparent;
  border: none;
  color: var(--primary-midnight);
}

.menu-container a,
.logo-navbar a {
  text-decoration: none;
  color: #0c0b0b;
  transition: color 0.3s ease;
}

.menu-container a:hover,
.logo-navbar a:hover {
  color: purple;
}

.checkbox {
  display: none;
}

.menu ul {
  list-style: none;
  width: 300px;
}

.menu li {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 22px;
  background-color: var(--pale-purple);
  color: #000000;
  border-radius: 5px;
}

.menu details ul {
  width: 100%;
}

.cat-nav b {
  padding: 2px 8px;
  background-color: grey;
  border-radius: 50%;
}

.menu li:hover {
  background-color: #ffffff;
}

summary::marker {
  color: #4f2f60;
}

summary {
  display: flex;
  justify-content: space-between;
}

summary b {
  cursor: pointer;
}

.cat-sub-menu {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.cat-sub-menu p {
  font-size: small;
  list-style-position: inside;
  display: block;
  padding: 3px;
}

.cat-sub-menu p:hover {
  background-color: var(--primary-midnight);
  color: white;
}

.cat-sub-menu p:hover a {
  color: white;
}

.cat-nav:hover .cat-sub-menu {
  display: block;
  list-style: none;
  font-size: smaller;
  overflow: hidden;
}

.brand-sub-menu {
  display: none;
  margin-top: 10px;
}

.brand-sub-menu li {
  font-size: xx-small;
  display: block;
  padding: 5px;
}

.brand-sub-menu li:hover {
  background-color: #4f2f60;
  color: white;
}

.brand-sub-menu li:hover a {
  color: white;
}

.brand-nav:hover .brand-sub-menu {
  display: block;
  list-style: none;
  font-size: smaller;
  overflow: hidden;
}

.toggle-label {
  color: var(--primary-midnight);
  font-weight: bolder;
  z-index: 1;
  cursor: pointer;
  transition: transform 2s ease, color 2s ease, display 2s ease;
}

.toggle-cancel {
  display: none;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.menu-container input:checked ~ .toggle-label {
  color: white;
  transform: rotate(45deg) translate(3px, -1px);
  display: none;
}

.menu-container input:checked ~ .toggle-cancel {
  display: block;
}

.search-bar {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 40%;
  top: 20px;
  display: flex;
}

.search-form {
  display: flex;
}

.search-input {
  width: 100px;
  margin-left: 10px;
  border: none;
}

.search-input:hover,
.search-input:active,
.search-input:focus {
  border: none;
  border-style: none;
}

.search-btn {
  border: none;
  background-color: #4f2f60;
  color: white;
  height: 30px;
  width: 30px;
}

.search-btn::after {
  content: url(http://127.0.0.1:8000/static/img/white-search.svg);
}

.auth-nav {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.auth-nav div {
  padding: 5px;
  background-color: pink;
  color: #4f2f60;
  border-radius: 5px;
}

/* all screen styles */

@media only screen and (max-width: 2067px) {
  .menu-container {
  }
  .menu-logo {
    z-index: 1;
  }
  .category-toggle-text {
    position: absolute;
    left: 7%;
    top: 30%;
    font-weight: bolder;
    color: white;
  }
  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    max-height: 600px;
    left: -100%;
    left: 0;
    top: -60px;
    top: -600px;
    border-radius: 10px;
    padding: 150px 50px 50px;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transform: translateY(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
    scrollbar-width: thin;
  }
  .menu-container input:checked ~ .menu {
    /* transform: translateX(100%); */
    transform: translateY(calc(550px));
  }
}

/*nav-bar ends*/

/* slider */

.hero {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 75px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/static/img/nohat3.jpg);
  background-repeat: no-repeat;
  background-position: left, bottom;
  background-size: cover;
  border-radius: 10px;
}

.hero span {
  position: absolute;
  bottom: -100px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation: hero-bubble 10s linear infinite;
}

.hero span:nth-child(1) {
  left: 0;
  animation-delay: 0.6s;
  background-color: #4f2f60;
}

.hero span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  background-color: pink;
}

.hero span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
  background-color: pink;
}

.hero span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  background-color: #4f2f60;
}

.hero span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
  background-color: pink;
}

.hero span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
  background-color: #4f2f60;
}

.hero span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  background-color: #4f2f60;
}

.hero span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
  background-color: pink;
}

.hero span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  background-color: pink;
}

.hero span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
  background-color: #4f2f60;
}

@keyframes hero-bubble {
  0% {
    bottom: 0;
    margin-left: 90px;
    margin-right: 0;
  }
  20% {
    bottom: 20%;
    margin-left: 0;
    margin-right: 90px;
  }
  40% {
    bottom: 40%;
    margin-left: 90px;
    margin-right: 0;
  }
  60% {
    bottom: 60%;
    margin-left: 0;
    margin-right: 90px;
  }
  80% {
    bottom: 80%;
    margin-left: 90px;
    margin-right: 0;
  }
  100% {
    bottom: 100%;
    margin-left: 0;
    margin-right: 90px;
  }
}

.hero-text-wrapper {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -30px;
}

.hero-text-wrapper:hover {
  backdrop-filter: blur(5px);
}

.hero-text-wrapper h3 {
  font-family: titan one;
  font-weight: lighter;
  margin: auto 0;
  text-align: start;
  color: white;
}

.hero-text-wrapper div {
  position: relative;
  top: 25%;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  color: white;
}

.hero-text-wrapper div p {
  font-size: xx-large;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
}

.hero-text-wrapper div p,
.hero-text-wrapper div em {
  text-shadow: 0 0 0.5em rgb(255, 180, 230);
}

.hero-text-wrapper b {
  text-shadow: 0 0 0.5em white;
  color: var(--primary-midnight);
  font-weight: bolder;
}

.hero-text-wrapper a {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-midnight);
  font-size: medium;
  color: white;
  width: fit-content;
  margin: 10px auto;
}

.hero-text-wrapper div div {
  margin-top: 20px;
}

.hero-text-wrapper div div .hero-login {
  background-color: darkgreen;
}

.hero-text-wrapper a:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

.slider {
  height: 50vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 50px;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid red;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: red;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 291px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid red;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: purple;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: purple;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: purple;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: purple;
}

.content-container {
  width: 100%;
  margin: auto;
  height: fit-content;
}

.home-body-container {
  width: 90%;
  margin: auto;
}

/* home.html */

.top-courses-container {
  width: 99%;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  box-shadow: 0 0 5px var(--pale-purple);
  padding-bottom: 10px;
  /* background-color: var(--pale-purple); */
}

.top-courses-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.top-courses-header a {
  padding-top: 20px;
  padding-right: 5px;
  text-decoration: underline;
}

.top-courses-header div {
  background-color: var(--primary-midnight);
  border-radius: 10px;
  color: white;
  font-size: larger;
  font-weight: bolder;
  width: fit-content;
  margin-top: 5px;
  padding: 10px;
}

.top-courses-container h2 {
  text-align: center;
  padding: 5px;
  width: 60%;
  background-color: var(--primary-midnight);
  color: #fffdd0;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.lesson-list-container h2 {
  text-align: center;
  /* padding: 25px 0; */
  width: 100%;
  /* background-color: var(--primary-midnight); */
  /* background-color: var(--pale-purple);
    color: #fffdd0;
    color: var(--primary-midnight);
    border-radius: 10px 10px 0 0;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto; */
}

.my-lesson-list-container h2 {
  width: fit-content;
  font-family: titan one;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: var(--primary-midnight);
  color: white;
  font-size: small;
  margin: auto;
}

.top-courses-container h2 a,
.lesson-list-container h2 a {
  color: white;
}

.scroll-item-wrapper {
  display: flex;
  overflow-x: scroll;
  width: 98%;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
}

.scroll-item-wrapper .course-box {
  min-width: 200px;
  max-width: 200px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--primary-midnight);
  box-shadow: 0 0 10px var(--pale-purple);
  overflow: hidden;
}

.filtered .course-box {
  width: 280px;
  /* height: 120px; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px var(--pale-purple);
  color: black;
  /* align-items: center; */
}

.new-course-box {
  width: 280px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px var(--pale-purple);
  color: black;
  border-radius: 10px;
}

.new-course-box img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
}

.filtered .course-box .course-box-img-container {
  width: 100%;
  height: 150px;
}

.filtered .course-box img {
  width: 100%;
  /* height: 150px; */
  height: 100%;
  border-radius: 10px;
}

.course-box img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.scroll-btn {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

.scroll-btn button {
  padding: 4px 8px;
  background-color: white;
  color: var(--primary-midnight);
  clip-path: circle();
  border: none;
}

.scroll-btn button:hover {
  background-color: var(--primary-midnight);
  color: white;
}

.scroll-item-wrapper .course-box img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.scroll-item-wrapper .course-detail {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.scroll-item-wrapper .course-detail-title,
.filtered .course-detail-title {
  height: 30px;
  overflow: hidden;
  font-size: large;
}

.scroll-item-wrapper .course-detail-title a {
  color: var(--primary-midnight);
  font-weight: bolder;
}

.filtered .course-box a {
  color: black;
  font-weight: bolder;
}

.filtered .course-box .student-n-rating {
  justify-content: space-between;
  margin-top: 5px;
  font-size: large;
}

.course-detail-tna {
  margin: 5px 0;
}

.course-detail-tna i {
  font-size: xx-small;
  opacity: 0.5;
}

.student-n-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.student-n-rating > * {
  min-width: fit-content;
}

.course-detail .view-btn {
  padding: 5px 0;
  width: 40%;
  background-color: var(--pale-purple);
  margin: 10px auto 10px auto;
  border-radius: 5px;
  border: none;
  color: #4f2f60;
  text-align: center;
}

.course-box a {
  color: var(--primary-midnight);
}

.filtered .course-detail {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.course-box i {
  color: #464646;
}

.body-desc {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* box-shadow: 0 0 10px #999; */
  box-shadow: 0 0 10px var(--pale-purple);
  border-radius: 10px;
  padding: 10px;
}

.body-desc p {
  /* margin: auto; */
  padding: 0 5px;
  font-family: sans-serif;
  width: 50%;
  font-size: small;
  text-align: start;
}

.body-desc img {
  width: 150px;
  padding: 0 5px;
}

.profile-card {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  background-color: var(--primary-midnight);
  box-shadow: 0 0 5px #999;
  color: white;
  text-align: center;
}

.profile-card a {
  color: white;
}

.profile-card img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-top: 5px;
  border: 5px solid white;
}

small {
  opacity: 0.5;
}

.profile-detail {
  padding: 5px 0;
}

.top-cat-pill {
  padding: 5px;
  background-color: var(--pale-purple);
  color: #4f2f60;
  text-decoration: none;
}

.testimonies-container {
  background-color: var(--pale-purple);
  border-radius: 10px;
  padding: 10px 0;
  margin: 20px 0;
}

.testimonies-container .quote-card {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: justify;
  max-width: 250px;
  min-width: 250px;
  height: 200px;
}

.quote-card div {
  padding: 20px 0;
}

.quote-card div small {
  position: relative;
  top: 40px;
}

.quote-card div small span {
  padding: 10px;
  border-radius: 100%;
  background-color: #2b333d;
  color: white;
  font-family: helvetica;
  font-weight: bolder;
}

.testimonies-container .quote-card b {
  font-size: 4rem;
  font-weight: bolder;
  display: block;
  height: 50px;
}

.testimonies-container .quote-card p {
  width: 75%;
  text-align: justify;
  margin: auto;
  font-size: smaller;
}

.testimonies-container .quote-card b:last-of-type {
  float: right;
}

.become-tutor-container {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  width: 300px;
  line-height: 1rem;
  display: block;
}

.become-tutor-container a {
  padding: 10px 0;
  width: 100%;
  background-color: var(--midnight-color-2);
  color: white;
  display: block;
}

.become-tutor-container p {
  text-align: justify;
}

/* category filter page */
.cat-body-container {
  margin: 70px auto 0px auto;
}
@media only screen and (min-width: 1300px) {
  .cat-body-container {
    width: 1250px;
  }
  .home-body-container {
    width: 1250px;
  }
  .menu-container {
    padding: 10px 100px;
  }
}

/* course detail view */

h2 {
  text-align: center;
}

.course-detail-screen-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-detail-block {
  width: 100%;
  background-color: var(--primary-midnight);
  color: white;
  padding: 20px 0;
  border-radius: 10px;
  /* position: relative; */
}

.course-detail-block img {
  width: 100%;
  height: 350px;
}

.lesson-list-container {
  width: 65%;
  /* background-color: var(--primary-midnight); */
  background-color: var(--pale-purple);
  box-shadow: 0 0 10px var(--pale-purple);
  color: white;
  color: var(--primary-midnight);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.lesson-list-container .lesson-list-inner-container {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  height: calc(100% - 90px);
}

.course-detail-screen-container .lesson-list-container {
  display: block;
  padding-bottom: 0;
  height: auto;
}

.course-detail-screen-container
  .lesson-list-container
  .lesson-list-inner-container
  > * {
  padding-left: 0;
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid var(--pale-purple);
  margin-bottom: 5px;
}

.my-lesson-list-container {
  width: 100%;
  background-color: white;
  color: black;
}

.my-lesson-list-container .lesson-list a {
  color: black;
}

@media only screen and (max-width: 600px) {
  .course-detail-block {
    width: 100%;
    background-color: var(--primary-midnight);
    color: white;
    margin: auto;
  }
  .lesson-list-container,
  .my-lesson-list-container {
    width: 100%;
    margin: auto;
  }
}

.course-block-detail details {
  background-color: black;
  border-radius: 8px;
}

.course-block-detail summary {
  text-align: center;
  display: block;
  padding: 10px 0;
  font-size: large;
  margin-top: 20px;
}

.course-description {
  padding: 10px 20px;
  text-align: left;
}

.course-block-detail {
  line-height: 25px;
  padding: 10px 10px;
  /* position: absolute;
    top: 20px;
    left: 20px; */
}

.course-block-detail > * {
  margin: 20px;
}

.course-block-detail h2 {
  text-align: start;
}

.enroll-n-test {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
}

.enroll-n-test > * {
  min-width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.course-block-detail .enroll-btn {
  background-color: white;
  /* box-shadow: 0 0 5px white; */
  color: black;
  /* margin: auto; */
  font-weight: bolder;
}

.course-block-detail .enroll-btn:hover {
  box-shadow: 0 0 10px white;
}

.course-block-detail .edit-btn {
  background-color: green;
  color: white;
}

.course-block-detail .take-test-btn {
  background-color: blue;
  color: white;
}

.course-block-detail img {
  width: 30px;
  height: 30px;
}

.instructor-details-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--pale-purple);
  margin-top: 10px;
}

.instructor-details-container .instructor-header {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 3px;
  width: auto;
}

.lesson-list {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 70%;
}

.lesson-list .lesson-list-title-nd-btn .course-btns-wrapper a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.lesson-list-title-nd-btn {
  width: 100%;
}

.lesson-list a span {
  margin-top: 25px;
}
.flex-input-hor {
  display: flex !important;
  flex-direction: row;
  gap: 5px;
  flex-wrap: nowrap;
}
.form {
  padding: 20px;
  width: fit-content;
  margin: auto;
  /* background-color: var(--pale-purple); */
  backdrop-filter: blur(5px);
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px var(--pale-purple);
}

#id_category label {
  margin: 5px 0;
}

#id_category label input::before {
  content: "";
  background-color: var(--pale-purple);
  padding: 1px 8px;
  border-radius: 100px;
  margin-right: 5px;
  visibility: visible;
}

#id_category label input:checked::before {
  content: "";
  background-color: lawngreen;
  transition: all 0.5s ease;
}

#id_category input {
  visibility: hidden;
}

.form img {
  border-radius: 50%;
  margin: auto;
}

.preview-video-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chosen-lesson-video-container {
  background-color: black;
  color: white;
  /* box-shadow: 0 0 10px var(--pale-purple); */
  /* padding-bottom: 20px; */
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  margin: 0 auto 20px auto;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chosen-image-container {
  background-color: white;
  box-shadow: 0 0 10px var(--pale-purple);
  /* padding-bottom: 20px; */
  border-radius: 10px;
  width: 90%;
  height: 300px;
  margin: 0px auto 20px auto;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chosen-lesson-video-container label,
.chosen-image-container label {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: darkgreen;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 20px;
}

@media screen and (max-width: 600px) {
  .chosen-image-container {
    width: 100%;
  }
}

.chosen-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.form div {
  display: grid;
}

.form a {
  color: lightblue;
}

.form #id_video,
#id_audio,
#id_note,
#id_image,
#id_preview {
  background-color: var(--primary-midnight);
  color: white;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid silver;
}

.form a {
  word-break: break-all;
  border: 1px dotted white;
  padding: 5px;
  border-radius: 5px;
}

.form #video-clear_id {
  width: 30px;
}

.form #video-clear_id ~ label {
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  width: min-content;
}

.form button {
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  width: 300px;
  margin: auto;
  background-color: green;
  color: white;
}

fieldset {
  border: 1px groove var(--pale-purple);
  border-radius: 10px;
}

.form-control {
  border: 1px solid var(--pale-purple);
  /* background-color: white; */
  border-radius: 5px;
  padding: 10px;
}

.instructor-container {
  width: 70%;
  margin: auto;
  display: block;
  text-align: center;
}

.instructor-container img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
}

.update-course-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.update-course-flex .side-lesson-list {
  width: fit-content;
  margin: 0 auto;
}

.update-course-flex .side-lesson-list .lesson-list {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-top: 20px;
}

.update-course-flex .side-lesson-list .lesson-list img {
  border-radius: 5px;
}

.update-course-flex .side-lesson-list h3 {
  text-align: center;
  width: 300px;
  background-color: var(--primary-midnight);
  color: white;
  border-radius: 5px;
  padding: 5px 0;
}

/* RATING FORM */

.rating-wrapper {
  margin-top: 10px !important;
}

.rating-wrapper legend {
  text-align: center;
}

.rating-wrapper textarea {
  border-radius: 10px;
}

.flex-col-2 > * {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .course-detail-screen-container .flex-col-2 {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .flex-col-2 {
    /* position: absolute;
        right: 10px;
        top: 100px; */
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  .student-dash-flex .dash-enrolled-c {
    max-width: 400px;
    width: 400px;
    /* height: 550px;
        overflow-y: scroll; */
  }
  .student-dash-flex .d-e-c-flex {
    height: 500px;
    overflow-y: scroll;
  }
  .dash-enrolled-c {
    /* width: 340px; */
  }
}

@media only screen and (min-width: 900px) {
  .student-dash-flex .dash-enrolled-c {
    max-width: 500px;
    width: 500px;
    /* height: 550px;
        overflow-y: scroll; */
  }
}

.star-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.star-wrapper input {
  display: grid;
}

.star-wrapper label {
  display: none;
}

.form .star-labels {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.star-labels label {
  display: grid;
  color: gold;
}

.star-labels .star {
  cursor: pointer;
}

.star-labels .star:hover {
  transform: scale(1.1);
}

.review-bubble-wrapper {
  background-color: var(--pale-purple);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.review-success {
  padding: 10px;
  max-width: 340px;
  background-color: lightgreen;
  color: darkgreen;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
}

.instructor-update-bubble {
  padding: 10px;
  /* width: 340px; */
  background-color: lightblue;
  color: darkblue;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  border-radius: 10px;
  line-height: 1.5rem;
}

.instructor-update-bubble a {
  padding: 2px 5px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.view-review {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}

.review-scroll-cont {
  height: 60vh;
  overflow-y: scroll;
}

.review-bubble {
  background-color: white;
  color: black;
  font-size: smaller;
  border-radius: 20px;
  padding: 3px 10px;
  width: 300px;
  margin: 5px 0;
}

.my-review-bubble {
  width: 100%;
  padding: 3px 0;
  border-radius: 20px;
  font-size: smaller;
  color: black;
  background-color: white;
  margin-top: 10px;
}

.rating-b {
  padding: 3px 0;
  margin: auto;
  text-align: center;
}

.user-info-b {
  font-weight: bolder;
}

.user-info-b img {
  width: 25px;
  height: 25px;
}

.review-info-b {
  padding: 3px 0;
  margin: auto;
  text-align: center;
}

.student-dash {
  margin-top: 100px;
}

.student-dash-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.student-dash-flex form {
  margin: 0;
  margin-top: 20px;
  width: 95%;
}

@media screen and (min-width: 800px) {
  .student-dash-flex {
    flex-wrap: nowrap;
  }
  .student-dash-flex form {
    width: 500px;
  }
}

.student-dash-flex .dash-enrolled-c {
  margin: 0;
  width: 95%;
}

.dash-enrolled-c {
  /* background-color: var(--primary-midnight); */
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: var(--primary-midnight);
  height: fit-content;
  /* max-width: 340px;
    width: 100%; */
  margin: auto;
  box-shadow: 0 0 10px var(--pale-purple);
}

.d-e-c-flex {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding: 20px 0;
}

@media only screen and (min-width: 800px) {
  .d-e-c-flex {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    /* height: 70vh; */
  }
  .student-dash-flex .d-e-c-flex {
  }
}

.d-e-c-courses:hover {
  background-color: var(--dark-primary-color);
  color: white;
  transition: 1.5s;
}

.d-e-c-courses {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  margin-bottom: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--pale-purple);
  padding: 5px;
}

.d-e-c-courses img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.d-e-c-courses div {
  width: 200px;
  /* padding-top: 25px; */
}

.d-e-c-courses a {
  padding: 2px 5px;
  background-color: lightgreen;
  color: darkgreen;
  border-radius: 5px;
}

/* INSTRUCTOR DASHBOARD */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 40px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.dash-menu:hover,
nav.dash-menu.expanded {
  width: 250px;
  overflow: visible;
}

.dash-menu {
  display: none;
  border-radius: 10px;
  background: var(--primary-midnight);
  position: fixed;
  top: 25%;
  bottom: 0;
  height: fit-content;
  left: 5px;
  width: 40px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.dash-menu2 {
  /* background-color: white; */
  background-color: silver;
  margin-top: 80px;
  padding: 20px 10px;
  width: 20%;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--pale-purple);
  height: 80dvh;
}

.dash-menu > ul {
  padding: 70px 0;
}

.dash-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.dash-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.dash-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.dash-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.dash-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.dash-menu-mobile {
  display: none;
}

@media screen and (max-width: 400px) {
  .dash-menu:hover,
  nav.dash-menu.expanded {
    height: 350px;
    width: 250px;
    overflow: visible;
    border-radius: 10px;
  }
  .dash-menu {
    height: 40px;
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    border-radius: 50px;
  }
  .dash-menu::before {
    content: "▽";
    background-color: transparent;
    color: white;
    margin: auto;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .dash-menu::before:hover {
    display: none;
  }
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.dash-menu li:hover > a,
nav.dash-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #000000;
  text-shadow: 0 0 5px white;
  border-radius: 5px;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}

.inst-dash-container {
  margin: auto;
}

section {
  margin-bottom: 100px;
  padding-top: 80px;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

section:hover {
  /* overflow-y: scroll; */
}

section::-webkit-scrollbar {
  display: none;
}

.dash-home {
  flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (max-width: 400px) {
}

@media only screen and (min-width: 400px) {
  .inst-dash-container,
  .inst-dash-container form {
    width: 80%;
    margin: auto;
  }
}

.home-greeting {
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  /* max-width: 500px; */
  height: fit-content;
  max-height: 70px;
  /* background-color: var(--pale-purple); */
  background-color: var(--pale-purple-light);
  box-shadow: 0 0 5px var(--secondary-color);
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-family: titan one;
}

.home-greeting img {
  height: 200px;
  position: relative;
  bottom: 75px;
}

.edit-profile-btn-cont {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
}

.edit-profile-btn-cont a {
  background-color: green;
  color: white;
  padding: 5px 10px;
  margin: 10px auto;
  border-radius: 5px;
}

.home-about-any-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  /* max-width: 450px;
    margin: auto; */
}

.any-card:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.any-card:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.any-card {
  height: fit-content;
  /* width: 100%; */
  background-color: var(--pale-purple-light);
  /* box-shadow: 0 0 5px #999; */
  color: black;
  /* border-radius: 5px; */
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.any-card:hover,
.any-card:focus,
.any-card:active {
  background-color: var(--primary-midnight);
  color: white;
}

.any-card:hover .any-card-text,
.any-card:focus .any-card-text,
.any-card:active .any-card-text {
  color: white;
}

.any-card-number {
  font-size: x-large;
  font-family: Titan One;
}

.any-card-text {
  font-size: large;
  color: black;
  opacity: 0.75;
}

@media only screen and (max-width: 500px) {
  .home-about-any-cont {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .any-card {
    width: 80%;
    margin: auto;
  }
}

.about-inst {
  width: calc(50% - 20px);
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px var(--pale-purple);
}

.my-courses-and-students-flex .my-course-about-flex {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px var(--pale-purple);
  border-radius: 5px;
}

.my-courses-and-students-flex .d-e-c-courses {
  box-shadow: none !important;
  margin: 0 !important;
  width: 95%;
}

.my-courses-and-students-flex .d-e-c-courses div {
  width: fit-content;
}

.my-courses-and-students-flex .see-more-and-add-new-courses {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 20px;
}

.my-courses-and-students-flex .see-more-and-add-new-courses a {
  background-color: #000000;
  color: white;
  padding: 10px 0;
  width: calc(50% - 2.5px);
  text-align: center;
  border-radius: 10px;
}

.my-courses-and-students-flex
  .see-more-and-add-new-courses
  .add-new-course-btn {
  background-color: var(--pale-purple-light);
  color: #000000;
}

.my-courses-and-students-flex {
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-courses-and-students-flex .withdrawal-about-flex {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: column;
  box-shadow: 0 0 10px var(--pale-purple);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: var(--primary-midnight);
  color: white;
}

.withdrawal-form-container {
  display: flex;
  justify-content: flex-start;
}

.my-courses-and-students-flex .withdrawal-about-flex form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  gap: 2.5%;
  background-color: var(--primary-midnight);
  color: white;
  margin-top: 5px;
}

.my-courses-and-students-flex .withdrawal-about-flex form input {
  width: 75%;
  padding: 15px 5px;
  border-radius: 5px;
  border: 1px solid white;
}

.my-courses-and-students-flex .withdrawal-about-flex form button {
  width: 22.5%;
  border-radius: 5px;
  padding: 15px 5px;
  border: none;
  color: #000000;
  background-color: var(--pale-purple);
}

.a-i-img-name {
  text-align: center;
  margin-bottom: 30px;
}

.a-i-img-name div {
  font-weight: bolder;
}

.a-i-img-name img {
  border-radius: 100px;
}

.course-btns-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.course-btns-wrapper a {
  padding: 4px 5px;
  border-radius: 3px;
  width: auto;
}

#MyCourses {
  gap: 10px;
}

#MyCourses .my-lesson-list-container {
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--pale-purple);
  height: 80dvh;
  overflow-y: scroll;
}

#MyCourses .my-lesson-list-container h2 {
  margin-bottom: 20px;
}
#MyCourses .lesson-list {
  width: 90%;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--pale-purple-light);
}

#MyCourses .lesson-list img {
  border-radius: 7px;
}

#earnings {
  flex-wrap: wrap;
  gap: 1.5%;
}

.inst-earnings-wrapper {
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--pale-purple);
}

#earnings .inst-earnings-wrapper {
  margin-left: 0;
  margin-top: 20px;
  width: 49.25%;
  height: 70dvh;
  background-color: white;
  box-shadow: 0 0 10px var(--pale-purple);
}

.inst-earnings-wrapper details {
  padding: 0 0 10px 0;
  width: 80%;
  background-color: rgb(204, 204, 204);
  color: black;
  margin: auto auto 10px auto;
}

.inst-earnings-wrapper summary {
  display: block;
  background-color: darkgray;
  padding: 10px;
}

.inst-earnings-wrapper summary span {
  padding: 5px 10px;
  background-color: blue;
  border-radius: 3px;
  color: white;
}

.earning-e-e {
  background-color: rgb(204, 204, 204);
  color: black;
  margin: auto auto auto 10px;
  padding: 20px 10px;
  width: 90%;
}

.earnings-any-cont {
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: var(--dark-primary-color);
  color: white;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 20px; */
}

.earnings-any-cont div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earnings-any-cont div .earnings-any-header {
  font-size: large;
}
.earnings-any-cont div .earnings-any-p {
  font-size: x-large;
}

.dash-create-course {
  display: flex;
  justify-content: center;
}

.create-container {
  margin: auto;
  padding: 100px 20px;
  border: 1px dashed black;
  border-radius: 50px;
}

.create-container div {
  text-align: center;
}

.create-container .create-course-btn {
  padding: 10px 0;
  background-color: green;
  display: block;
  width: 60%;
  text-align: center;
  color: white;
  margin: auto;
  border-radius: 5px;
}

.create-container .create-course-btn:hover {
  background-color: darkgreen;
}

.qs-list-container {
  margin: auto;
  height: 50vh;
  overflow-y: scroll;
}

.qs-list-container li {
  background-color: var(--pale-purple-light);
  color: black;
  padding: 5px;
  margin: 5px auto;
  width: 90%;
  border-radius: 5px;
}

#earnings .course-earning-flex-container {
  height: 80%;
  overflow-y: scroll;
  padding: 10px;
}
#earnings .course-earning-flex-container .course-earning-card {
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  height: 120px;
  gap: 10px;
  margin-bottom: 5px;
}
#earnings .course-earning-card img {
  height: 100%;
  width: 30%;
}
section#update-profile form button {
  width: 100%;
}

#update-profile {
  gap: 1.5%;
}

#update-profile form {
  margin: 0;
  width: 49.25%;
}
/* filtered serach page */

.filter-bar {
  display: block;
  justify-content: center;
  background-color: transparent;
  color: black;
  width: 100%;
  padding: 10px 0;
}

.filter-bar form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-bar form div {
  display: grid;
  text-align: center;
}

.filter-bar input,
.filter-bar select {
  background-color: transparent;
  border: 1px darkcyan solid;
  border-radius: 5px;
  padding: 4px;
  width: 120px;
}

.filter-bar #id_paid {
  width: 70px;
}

.filter-bar input:focus,
.filter-bar input:active {
  border: 1px lightblue solid;
}

.filter-bar button {
  background-color: darkgreen;
  padding: 7px 5px;
  border-radius: 5px;
  color: white;
  border: none;
  height: fit-content;
  margin-top: 10px;
}

.filter-bar button:hover {
  background-color: green;
}

@media only screen and (min-width: 600px) {
  .filtered-course-wrapper {
    width: 600px;
    margin: auto;
  }
}

.filtered-course-wrapper .filtered-course {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border: 1px lightgray solid;
  border-radius: 5px;
  background-color: white;
}

.filtered-course img {
  width: 30%;
  height: 150px;
}

.filtered-course .course-detail {
  width: 70%;
}

.pay-recieved {
  background-color: green;
  color: white;
  padding: 1px 6px;
  border-radius: 100%;
  font-size: xx-small;
  margin-left: 5px;
}

.not-paid {
  background-color: darkred;
  color: white;
  padding: 1px 6px;
  border-radius: 100%;
  font-size: xx-small;
  margin-left: 5px;
}

/* FOOTER SECTION */

footer {
  /* background-color: var(--primary-midnight); */
  background-color: white;
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primary-midnight);
  border-top: 1px solid var(--pale-purple);
  padding: 20px 0;
}

footer > * {
  width: 30%;
  /* padding: 20px 10px; */
}

footer .copyright {
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer .footer-brand img {
  width: 100%;
}

footer .footer-brand p {
  text-align: justify;
}

@media screen and (max-width: 730px) {
  footer > * {
    width: 100%;
  }
}

.hider {
  display: none;
  transition: 8s ease;
}

.toast {
  display: flex;
  flex-wrap: no-wrap;
  gap: 4px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.lesson-nav-container {
  display: flex;
  justify-content: space-between;
  /* padding: 5px 50px; */
  /* gap: 10px; */
}

.lesson-nav-container .next-lesson-btn,
.lesson-nav-container .prev-lesson-btn {
  background-color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 20px;
}

/* mobile styles */

@media only screen and (max-width: 500px) {
  .menu-logo img {
    width: 100px;
    height: 50px;
    z-index: 1;
    object-fit: contain;
  }
  .search-box-wrapper input {
    width: 100px;
  }
  .home-body-container {
    width: 98%;
  }
  .hero-text-wrapper div {
    width: 90%;
  }
  .hero {
    margin-top: 75px;
    border-radius: 10px;
  }
  .scroll-btn {
    display: none;
  }
  .course-box {
    max-width: 150px;
    min-width: 150px;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--primary-midnight);
    box-shadow: 0 0 10px var(--pale-purple);
  }
  .filtered .course-box {
    width: 90%;
    max-width: 100%;
    flex-direction: row;
    height: 100px;
    font-size: xx-small;
  }
  .filtered .course-box .course-box-img-container {
    width: 40%;
    height: 100%;
  }
  .scroll-item-wrapper .course-box {
    min-width: 150px;
    max-width: 150px;
  }
  .scroll-item-wrapper .course-box img {
    width: 100%;
    height: 100px;
  }
  .course-box img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .filtered .course-detail {
    padding: 0;
    padding-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .body-desc p {
    font-size: xx-small;
  }
  .body-desc img {
    width: 25%;
  }
  .form button {
    width: 100%;
  }
  .dash-menu2 {
    height: 50px;
    width: 100%;
    display: none;
  }
  .mobile-ham {
    height: 16px;
    width: 24px;
    position: relative;
    cursor: pointer;
  }
  .top-stroke {
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
  }
  .bottom-stroke {
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
  }
  .inst-dash-container {
    width: 100%;
  }
  .about-inst {
    width: 100%;
  }
  .my-courses-and-students-flex {
    width: calc(100% - 20px);
  }
  #MyCourses {
    display: flex;
    flex-direction: column;
  }
  #earnings .inst-earnings-wrapper {
    width: 100%;
  }
  #update-profile {
    flex-wrap: wrap;
    gap: 20px;
  }
  #update-profile form {
    width: 100%;
  }
}

.hider {
  display: none !important;
}
