{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mgt.css' %}">
    <title>Manager's Site</title>
</head>
<body>
    {% include 'wonderhub-mgt/navbar.html' %}
    <div class="g-container">
        <div class="manager-container">
            <div>
                <div class="manager-header">MANAGE USERS</div>
                <li>Students</li>
                <li>Instructors</li>
            </div>
            <div>
                <div class="manager-header">MANAGE COURSES</div>
                <li></li>
                <li></li>
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>