{% extends 'shop/base.html' %}

{% block content %}

<div class = 'container'>
    <div class = 'row'>
 <!--     
        {% for product in products %}
        <div class = 'col-md-4 col-lg-4'>
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h3 class="card-title">{{product.name}}</h3>
                <h4 class="card-text">{{product.price}}</h4>
                <a  class=" addtocart" data-action = 'add' data-product= "{{product.product_id}}">Add to Cart</a>
              </div>
            </div>
        </div>
        {% endfor %}
       
-->
        {% for product in products %}

       
<div class="flex font-sans">
  <div class="flex-none w-48 relative">
    <img src="/classic-utility-jacket.jpg" alt="" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
  </div>
    <div class="flex flex-wrap">
      <h1 class="flex-auto text-lg font-semibold text-slate-900">
        {{product.name}}
      </h1>
      <div class="text-lg font-semibold text-slate-500">
        ${{product.price}}
      </div>
      <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
        {{product.tag}}
      </div>
    </div>
    <div class="flex space-x-4 mb-6 text-sm font-medium">
      <div class="flex-auto flex space-x-4">
                <a  class=" addtocart" data-action = 'add' data-product= "{{product.product_id}}">
Add to Cart
              </a>
      </div>
      <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
        <svg width="20" height="20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
        </svg>
      </button>
    </div>
    <p class="text-sm text-slate-700">
      Free shipping on all continental US orders.
    </p>
</div>
        
      
        {% endfor %}

        

       

    </div>
</div>




{% endblock %}
